streamlit
pandas
rdkit
seaborn
matplotlib
plotly
numpy
chempy
biopython
scikit-learn
tensorflow
rdkit
keras
streamlit-option-menu
schedule
scipy
requests
Pillow
plotly
altair
xlrd
joblib
networkx
spektral
xgboost
lightgbm
imblearn
pubchempy
xgboost
pubchempy
numba
Pillow
speck
chemplot
pubchempy
QSPRPred
optuna
lightgbm
xgboost
shap
matplotlib_venn
biopython
lime
#streamlit_option_menu
openpyxl
